### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
totalplayers = purchase_data["SN"].nunique()
totalplay_df = pd.DataFrame([{"Total Players"}])
totalplay_df["Total Players"] = totalplayers
totalplay_df

               0  Total Players
0  Total Players            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
numberofuniques = purchase_data["Item Name"].nunique()
averageprice = purchase_data["Price"].mean()
totalpurchases = len(purchase_data)
totalrevenue = purchase_data["Price"].sum()
purchana_df = pd.DataFrame([{}])
purchana_df["Number of Unique Items"] = numberofuniques
purchana_df["Average Price"] = averageprice 
purchana_df["Total Purchases"] = totalpurchases
purchana_df["Total Revenue"] = totalrevenue
purchana_df

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     179       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
gendercountpt1 = purchase_data.drop_duplicates(subset=['SN'])
gendercount = gendercountpt1["Gender"].value_counts()
gendercount.head()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [6]:
totalmale = len(gendercountpt1[gendercountpt1["Gender"] == "Male"])
totalfemale = len(gendercountpt1[gendercountpt1["Gender"] == "Female"])
totalother = len(gendercountpt1[gendercountpt1["Gender"] == "Other / Non-Disclosed"])
permale = (totalmale / totalplayers)
perfemale = (totalfemale / totalplayers)
perother = (totalother / totalplayers)
gendem_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Player Count": [totalmale, totalfemale, totalother],
    "Percentage of Player Count": [permale, perfemale, perother]
})
formattedgendem = gendem_df.style.format({
    "Percentage of Player Count": '{:,.2%}'.format,
})
formattedgendem


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
groupedbygen = purchase_data.groupby(["Gender"])
totalpurch = purchase_data["Gender"].value_counts()
totalpurchval = groupedbygen["Price"].sum()
avgpurch = groupedbygen["Price"].mean()
avgperperson = (totalpurchval / gendercount)
genpurana_df = pd.DataFrame({
    "Purchase Count": totalpurch,
    "Average Purchase Price": avgpurch,
    "Total Purchase Value": totalpurchval,
    "Avg Total Purchase per Person": avgperperson
})
formattedgenpurana = genpurana_df.style.format({
    "Average Purchase Price": '${:,.2f}'.format,
    "Total Purchase Value": '${:,.2f}'.format,
    "Avg Total Purchase per Person": '${:,.2f}'.format,
})
formattedgenpurana

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
dedupedpurchdata = purchase_data.drop_duplicates(subset='SN')
groupedbybin = dedupedpurchdata.groupby("Age Range").size().reset_index(name='Total Count')
groupedbybin["Percentage of Players"] = groupedbybin["Total Count"] / totalplayers
groupedbybin = groupedbybin.style.format({
    "Percentage of Players": '{:,.2%}'.format,
})
groupedbybin

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
dedupedpurchdata2 = purchase_data.drop_duplicates(subset='SN')
groupedbyage2 = purchase_data.groupby("Age Range")
groupedbyage3 = pd.DataFrame(groupedbyage2["Price"].sum())
groupedbyage3["Total Count"] = dedupedpurchdata2.groupby("Age Range")["SN"].count()
groupedbyage3["Purchase Count"] = groupedbyage2["Purchase ID"].count()
groupedbyage3["Average Purchase Price"] = groupedbyage2["Price"].mean()
groupedbyage3["Avg Total Purchase per Person"] = groupedbyage3["Price"] / groupedbyage3["Total Count"]
groupedbyage3 = groupedbyage3[["Purchase Count", "Average Purchase Price", "Price", "Avg Total Purchase per Person"]]
groupedbyage3 = groupedbyage3.rename(columns={"Price": "Total Purchase Value"})
groupedbyage3 = groupedbyage3.style.format({
    "Average Purchase Price": '${:,.2f}'.format,
    "Total Purchase Value": '${:,.2f}'.format,
    "Avg Total Purchase per Person": '${:,.2f}'.format,
})
groupedbyage3

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [46]:
condensedpurchdat = purchase_data[["SN","Price"]]
groupedbysn = condensedpurchdat.groupby(["SN"])
purchasecounts = purchase_data["SN"].value_counts()
totalpurchasevalue = groupedbysn.sum()
totalpurchasevaluesorted = totalpurchasevalue.sort_values(["Price"], ascending=False).head(5)
topspenders_df = pd.DataFrame(totalpurchasevaluesorted)
topspenders_df["Purchase Count"] = purchasecounts
topspenders_df["Average Purchase Price"] = topspenders_df["Price"] / purchasecounts
topspenders_df = topspenders_df.rename(columns={"Price": "Total Purchase Value"})
topspenders_df = topspenders_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
topspenders_df = topspenders_df.style.format({
    "Average Purchase Price": '${:,.2f}'.format,
    "Total Purchase Value": '${:,.2f}'.format
})
topspenders_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [94]:
purchasecountbyitem = purchase_data["Item ID"].value_counts() 
condenseditems = purchase_data[["Item ID","Item Name", "Price"]]
condenseditems = condenseditems.rename(columns={"Price": "Item Price"})
condenseditems["Purchase Count"] = purchasecountbyitem
condenseditems["Total Purchase Value"] = condenseditems["Item Price"] * purchasecountbyitem
groupedbyitem = condenseditems.sort_values(["Purchase Count"], ascending=False).groupby(["Item Name", "Item ID"]).head(5)
groupedbyitem.head(5)

,Item ID,Item Name,Item Price,Purchase Count,Total Purchase Value
92,39,"Betrayal, Whisper of Grieving Widows",3.94,13.0,51.22
178,57,"Despair, Favor of Due Diligence",4.60,12.0,55.20
145,46,Hopeless Ebon Dualblade,1.33,9.0,11.97
132,145,Fiery Glass Crusader,4.58,9.0,41.22
108,85,Malificent Bag,1.75,9.0,15.75

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [95]:
groupbyitem2 = condenseditems.sort_values(["Total Purchase Value"], ascending=False).groupby(["Item Name", "Item ID"]).head(5)
groupbyitem2.head(5)

,Item ID,Item Name,Item Price,Purchase Count,Total Purchase Value
178,57,"Despair, Favor of Due Diligence",4.60,12.0,55.20
92,39,"Betrayal, Whisper of Grieving Widows",3.94,13.0,51.22
132,145,Fiery Glass Crusader,4.58,9.0,41.22
82,160,Azurewrath,4.40,9.0,39.60
19,89,"Blazefury, Protector of Delusions",4.64,8.0,37.12

Report:

There are a few observable trends in the data. The most glaring are male players are most likely to make an in game purchase, but this can be skewed as they account for 84% of the player base. Players in the 20-24 age bracket account for the most purchases, which interestingly overlaps almost to the number of their percentage make up of the player base (44.79% of players are aged 20-24 and 46.8% of all purchases were made by players in the 20-24 age range). The bulk of purchasing in the 20-24 age range is so heavily weighed that even if we combined all of the purchases made by players 10-19 and 25-34, the 20-24 age bracket will still have spent more ($1114.06 (20 to 24) vs $1002.67 (10 to 14 + 15 to 19 + 25 to 29 + 30 to 34)). In short, we can generate the most revenue in game by catering towards our core demographic of male players aged between 20 and 24, with our most profitable items being weapons available in the $4-5 range, we should look to capitalize and offer incentives on purchasing these weapons for players in or around this age range.